%h1 Remove Site

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following site?

%table.index#sites{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.site 
        = image('page', :alt => "page-icon")
        = @site.hostname

- form_tag do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Site"}/
    or
    = link_to 'Cancel', site_index_url